<ng-container *ngIf="setupComplete">
  <h1 class="title is-spaced">History</h1>
  <h2 class="subtitle is-6">Showing past 30 days</h2>

  <ng-container *ngIf="historicalRecordGroups.length > 0; else noHistory">
    <table class="table is-bordered is-fullwidth">
      <thead class="has-background-dark">
        <tr>
          <th class="has-text-white">Date</th>
          <th class="has-text-white">Results</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let group of historicalRecordGroups">
          <th>{{group.displayDate}}</th>
          <td>
            <span class="content" [innerHTML]="group.getResultsSummary()"></span>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-container>

  <ng-template #noHistory>
    <p class="title is-4 has-text-info">There are no historical records yet. Check back after you complete your first day of tracking.</p>
  </ng-template>
</ng-container>
